In [45]:
import pandas as pd
import math
import nltk

# Google Doc to Cleaned Stories

In [90]:
# read data
df_andrew = pd.read_excel("./stories.xlsx",sheet_name="Andrew",header=0,converters={"Prompt/Stories":str})
df_adi = pd.read_excel("./stories.xlsx",sheet_name="Adi",header=0,converters={"Prompt/Stories":str})
# adi
df_adi = df_adi.rename(index=str, columns={      "Unnamed: 3": "Group ID",
                                                 "Unnamed: 4": "Model",
                                                 "Unnamed: 6": "Story"})
adi_index = df_adi["Group ID"]%2==0
df_adi = df_adi.loc[adi_index]
# andrew
df_andrew = df_andrew.rename(index=str, columns={"Unnamed: 3": "Group ID",
                                                 "Unnamed: 4": "Model",
                                                 "Unnamed: 6": "Story"})
andrew_index = df_andrew["Group ID"]%2==1
df_andrew = df_andrew.loc[andrew_index]
# concatenate
df = pd.concat([df_adi,df_andrew])
df = df.drop(columns=["Unnamed: 10","Unnamed: 9","Unk","Even/Odd"])
#
numbers = []
prompts = []
for x in df["Prompt/Stories"]:
    try:
        num = float(x)
        prompts.append("")
        if(math.isnan(num)):
            numbers.append(0.0)
        else:
            numbers.append(num)
    except:
        prompts.append(x)
        numbers.append(0.0)
df = df.drop(columns=["Prompt/Stories"])
df["Prompts"] = prompts
df["Perplexity"] = numbers
# turn nan scores into 0s
scores = []
for x in df["Score"]:
    if(math.isnan(x)):
        scores.append(0.0)
    else:
        scores.append(x)
df["Score"] = scores
group_sums = df.groupby(['Group ID'])['Score'].sum()
# get stories that were scored by humans
complete = []
for index, row in df.iterrows():
    group = row["Group ID"]
    if(group_sums.get(group,0.0)!=6.0):
        complete.append(False)
    else:
        complete.append(True)
df = df.loc[complete]
# calculate perplexity with nltk
# write df to excel
df.to_excel("cleaned_stories.xlsx")

# Cleaned Stories with Ensemble to Complete Ranks

In [135]:
# read data
df = pd.read_excel("./stories_complete.xlsx",header=0)
df = df.drop(columns=["Unnamed: 8"])
df = df.rename(columns={"Unnamed: 9": "Ensemble", "Score": "Human Score"})
# ensemble ranks
df["Ensemble Rank"] = df.groupby("Group ID")["Ensemble"].rank(ascending=True).astype(int,errors="ignore")
# perplexity ranks
perplexity = []
for index, row in df.iterrows():
    if row["Model"]=="S":
        perplexity.append(float("nan"))
    else:
        perplexity.append(row["Perplexity"])
df["Perplexity"] = perplexity
df["Perplexity Rank"] = df.groupby("Group ID")["Perplexity"].rank(ascending=True).astype(int,errors="ignore")
# human scores
human = []
for index, row in df.iterrows():
    if row["Model"]=="S":
        human.append(float("nan"))
    else:
        human.append(row["Human Score"])
df["Human Score"] = human
# write xlsx
df.to_excel("complete_ranks.xlsx")

In [134]:
df.head(20)

,Count,Group ID,Log-Probability,Model,Human Score,Story,Prompts,Perplexity,Ensemble,Ensemble Rank,Perplexity Rank
0,0.0,0,0.944072,S,NaN,NaN,[ WP ] Leonardo DiCaprio in a fit of rage begi...,NaN,NaN,NaN,NaN
1,861.0,0,0.342777,H,2.0,I had n't been to a movie since I was a child ...,NaN,-1.901203,22.924102,1.0,1.0
2,3220.0,0,0.827215,T,3.0,The wet marble floor pressed on his cheek like...,NaN,0.000000,104.559351,3.0,3.0
3,937.0,0,0.913668,FusionH,1.0,"`` You know , we do n't really get to choose w...",NaN,-1.747556,24.071152,2.0,2.0
8,2416.0,2,0.931040,T,3.0,"George fled . Not terrifically fast , not at h...",NaN,0.000000,103.989352,3.0,3.0
9,1103.0,2,0.937600,H,1.0,"<unk> , <unk> , and <unk> <unk> , <newline> <n...",NaN,-0.410736,34.240087,2.0,2.0
10,0.0,2,0.810164,S,NaN,NaN,[ EU ] <unk> Bean has a hard time leaving his ...,NaN,NaN,NaN,NaN
11,898.0,2,0.382921,FusionH,2.0,`` The last man is in the room . He is not the...,NaN,-2.091001,25.331524,1.0,1.0
16,4726.0,4,0.589270,T,3.0,`` Hi dad ! '' <newline> <newline> The words s...,NaN,0.000000,93.088849,3.0,3.0
17,818.0,4,0.853060,FusionH,2.0,"I sat there for a moment , thinking about the ...",NaN,-1.826996,21.382103,1.0,2.0
18,0.0,4,0.431822,S,NaN,NaN,[ WP ] As a Space marine you have an allowance...,NaN,NaN,NaN,NaN
19,903.0,4,0.796844,H,1.0,It was a beautiful day in the United States . ...,NaN,-2.020125,26.952377,2.0,1.0
24,872.0,6,0.881257,FusionH,2.0,"It was a strange thing , he could see it in th...",NaN,-2.285918,25.939929,2.0,1.0
25,4013.0,6,0.372454,T,3.0,`` It 's just that half of all them gals down ...,NaN,0.000000,106.500329,3.0,3.0
26,0.0,6,0.597633,S,NaN,NaN,[ WP ] A man finally discovers his superpower ...,NaN,NaN,NaN,NaN
27,819.0,6,0.863443,H,1.0,“ It ’ s just a little more <unk> ” <newline> ...,NaN,-1.447825,23.383346,1.0,2.0
32,0.0,8,0.881521,S,NaN,NaN,[ WP ] You have a very shitty type of <unk> .,NaN,NaN,NaN,NaN
33,824.0,8,0.431623,H,1.0,"It 's a simple thing , the fact that I 've got...",NaN,-2.300792,22.373961,1.0,1.0
34,923.0,8,0.094590,FusionH,2.0,The first thing I noticed when my head was spi...,NaN,-2.001962,27.526771,2.0,2.0
35,1732.0,8,0.214190,T,3.0,Just looking at the guy I already knew it . He...,NaN,0.000000,106.200863,3.0,3.0